{% extends "base.html" %}

{% load humanize %}

{% block content %}

<section class="container mt-5">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h2 class="display-5 fw-bold">{{job.title}}</h2><br>
            <p class="col-md-8 fs-5 mt-3">
                {{job.city}} | {{job.job_type}} | PKR {{job.salary|intcomma}}
            </p>
            
            {% if has_applied %}
            <p><span class="text-danger">You have already applied for this job!</span></p>
            {% else %}
            <a class="btn btn-primary btn-lg" href="{% url 'apply-to-job' job.pk %}">Apply Now</a>

            {% endif %}
        </div>
    </div>
</section>

<!--job requirement-->
<div>
    <section>
    <h5>Job Requirements</h5>

    <p> {{job.requirements}} </p>
    </section>
</div><br>

<!---ideal-candidates-->
<div>
    <section>
    <h5>Ideal Candidates</h5>

    <p> {{job.ideal_candidates}} </p>
    </section>
</div><br>


<div class="row row-cols-1 row-cols-md-3 g-4">


    <!--card-->
    
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Other Details</h5>
                <p class="card-text"> This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>

        </div>
    </div>


    <!--card-->
    
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">About the Company</h5>
                <p class="card-text"> {{job.company.name}}</p>
                <p class="card-text"> {{job.company.state}},{{job.company.city}}</p>
                <p class="card-text"> {{job.company.est_date}}</p>

                <a class="btn btn-primary btn-small" href="{% url 'company-details' job.pk %}">Visit Company Page</a>
                <p class="card-text"> This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

            </div>
            

        </div>
    </div>


    <!--card-->
    
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Related Jobs</h5>
                <p class="card-text"> This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

            </div>


        </div>
    </div>


</div>


{% endblock content %}

