{% extends "base.html" %}

{% block content %}

<section class="container mt-5">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h2 class="display-5 fw-bold">Job Title</h2><br>
            <p class="col-md-8 fs-5 mt-3">
                xyz | xyz |xyz
            </p>

            <button class="btn btn-primary btn-lg" type="button">Apply Now</button>
        </div>
    </div>
</section>
<div>
    <section>
    <h5>
        Job Description
    </h5>

    <p>
        lorem ipsum dolor......
    </p>
    </section>
</div>

{% endblock content %}

