{% extends "base.html" %}

{% load humanize %}

{% block content %}

<section class="container mt-5">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h2 class="my-5 display-3 fw-bold ls-dark text-center">
                {{job.title}}
                
            </h2>
            <p class="text-center fs-5 mt-3">
                {{job.city}} | {{job.job_type}} | PKR {{job.salary|intcomma}}
            </p>
            
            
            {% if has_applied %}
            <p class="text-center"><span class="text-danger ">You have already applied for this job!</span></p>
            {% else %}
            
            <div class="text-center">
            <br><a class="btn btn-primary btn-lg text-center" href="{% url 'apply-to-job' job.pk %}">Apply Now</a>
            </div>
            {% endif %}
        </div>
    </div>
</section>

<!--job requirement-->
<div>
    <section>
    <h4>Job Requirements</h4></br>

    <p> {{job.requirements}} </p>
    </section>
</div><br>

<!---ideal-candidates-->
<div>
    <section>
    <h4>Ideal Candidates</h4><br>

    <p> {{job.ideal_candidates}} </p>
    </section>
</div><br>


<div class="row row-cols-1 row-cols-md-3 g-4">


    <!--card-->
    
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Other Details</h5>
                <p class="card-text"> This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

            </div>
            

        </div>
    </div>


    <!--card-->
    
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">About the Company</h5>
                <p class="card-text"> {{job.company.name}}</p>
                <p class="card-text"> {{job.company.state}},{{job.company.city}}</p>
                <p class="card-text"> {{job.company.est_date}}</p>
            </div>
            <div class="card-footer text-center">
                <a class="btn btn-primary btn-small" href="{% url 'company-details' job.pk %}">Visit Company Page</a>
                
            </div>
            

        </div>
    </div>


    <!--card-->
    
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Related Jobs</h5>
                <p class="card-text"> This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

        </div>
        <div class="card-footer text-center">
            <a class="btn btn-primary btn-small" href="{% url 'job-listing' %}">Visit Related Jobs</a>
            
        </div>


        </div>
    </div>


</div>


{% endblock content %}

