{% extends "base.html" %}

{% load humanize %}

{% block content %}


    <section class="container mt-5">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h2 class="my-5 display-3 fw-bold ls-dark text-center">
                    Django Jobs.
                    <span class="text-primary">Get Hired Quickly</span>
                </h2><br>
                <p class="text-center fs-5 mt-3">
                    All Available Jobs
                </p>
            </div>
        </div>
    </section>

    <div class="row row-cols-1 row-cols-md-3 g-4">

        {% if jobs %}
        {% for job in jobs %}
        <!--card-->
        
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title text-center">{{job.title}}</h5><br>
                    <p class="card-text"> <b>Posted By:</b> <br> {{job.company}}</p>
                    <p class="card-text">Job Location:<br> {{job.city}},{{job.state}}</p>
                    <p class="card-text">Salary:<br> {{job.salary|intcomma}}</p>
                    <a class="btn btn-primary btn-small" href="{% url 'job-details' job.pk %}">View Details</a>

                </div>
                <div class="card-footer">
                    <small class="text-muted">Created {{job.timestamp|naturaltime}}</small>
                </div>

            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>


{% endblock content %}