{% extends "base.html" %}

{% block content %}


<section class="container mt-5">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="my-5 display-4 fw-bold ls-tight text-center">
                Welcome to <br />
                <span class="text-primary">User Registration Page</span>
            </h1>
            <br>
            
            <p class="col fs-5 mt-3 text-center">Just Quickly Register Yourself To Explore!</p><br>


            <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-evenly">


                <!--card-->
                
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title text-center text-primary">Register As A Recruiter </h4><br>
                            <ul>
                                <li>Sign up as a recruiter at no cost.</li>
                                <li>Access all basic features without any fees</li>
                                <li>Post as many job openings as needed.</li>
                                <li>Reach a wide audience of potential candidates.</li>
                                <li>Receive applications directly on the platform.</li>
                                <li>Communicate with applicants seamlessly </li>
                                <li>Showcase your company’s brand and culture </li>
                                <li>Get insights into your recruitment process </li>
                                <li>Track your recruitment metrics </li>
                                <li>Fasten your hiring process</li>
                                <li>Get access to our support team for any assistance</li>
                                <li>Save time and resources compared to traditional methods. </li>
                            </ul>
                            </div>

                        <div class="card-footer text-center">
                            <a class="btn btn-primary btn-small" href="{% url 'register-recruiter' %}">Register as a recruiter</a>
                        </div>

            
                    </div>
                </div>
            

                <!--card-->

                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title text-center text-primary">Register As An Applicant</h4><br>
                            
                            <ul>
                                <li>Sign up as an applicant at no cost.</li>
                                <li>Access all basic features without any fees</li>
                                <li>Search and apply for job openings that match your skills and experience.</li>
                                <li>Upload your resume and cover letter for easy application.</li>
                                <li>Get notified about new job openings that match your preferences.</li>
                                <li>Communicate with recruiters and hiring managers directly.</li>
                                <li>Track your applications and stay updated on the status of your job applications.</li>
                                <li>Get insights into your job search progress and improve your chances of getting hired.</li
                                <li>Save time and resources compared to traditional job search methods.</li>
                            </ul>

                            
                        </div>

                        <div class="card-footer text-center">
                            <a class="btn btn-primary btn-small" href="{% url 'register-applicant' %}">Register As An Applicant</a>
                        </div>
            
                    </div>
                </div>


{% endblock content %}